*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 15fr 1fr;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  overflow-x: hidden;
}

header {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

main {
  padding: 30px;
  animation: open-text .8s ease-in-out;
}

@keyframes open-text {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

main h2 {
  font-size: 1em;
}
main h3 {
  font-size: .7em;
  margin-top: 2%;
  margin-bottom: 5%;
}
main p {
  text-align: justify;
  font-size: .8em;
}
main {
  width: 100vw;
}





footer {
  display:flex;
  align-items: end;
  padding-bottom: 20px;
  justify-content: center;
  font-size: 10px !important;
}