* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 1fr 15fr 1fr;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Media query para largura maior que 400px */
@media (min-width: 431px) {
  body {
    background-color: white;
  }
  
  body::before {
    content: "Infelizmente a versão para PC ainda não está disponível";
    font-size: 1.5em;
    text-align: center;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
  }
  header, main, footer, section {
    display: none !important;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10%;
  gap: 20px;
  height: 95vh;
  width: 100vw;
  text-align: center;
}
#copy {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  font-size: 1em;
  gap: 5px;
}

#qr-code img {
  width: 70%;
}

span {
  color: red;
}

.expired-message {
  display: none;
  position: absolute;
  font-size: 1rem;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  
}
.expired-message.show {
  display: block;
}
