* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 15fr 1fr;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    overflow-x: hidden;
  }
  
  header {
    background-color: #bd59d6;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    color: white;
  }
  
  main {
    padding: 30px;
    animation: open-text .8s ease-in-out;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr)); /* Alteração aqui */
    gap: 20px;
  }
  
  .product-card {
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens horizontalmente */
    text-align: center; /* Centraliza o texto */
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .product-card img {
    width: 50%; /* Defina a largura da imagem conforme necessário */
    max-width: 100%; /* Garante que a imagem não ultrapasse o tamanho do contêiner */
    border-radius: 10px;
  }

  #star {
    width: 20px;
  }
  
  .product-card h2 {
    margin-top: 10px;
    font-size: 1.2em;
  }
  
  .product-card .price {
    display: block;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .product-card button {
    display: block;
    width: 50%;
    margin-top: 15px;
    padding: 10px;
    background-color: #bd59d6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .product-card button:hover {
    background-color: #9b3479;
  }
  
  footer {
    display: flex;
    align-items: end;
    padding-bottom: 20px;
    justify-content: center;
    font-size: 10px !important;
  }
  
  @keyframes open-text {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  