*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 1fr 15fr 1fr;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 1fr 15fr 1fr;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Media query para largura maior que 400px */
/* @media (min-width: 431px) {
  body {
    background-color: white;
  }
  
  body::before {
    content: "Infelizmente a versão para PC ainda não está disponível";
    font-size: 1.5em;
    text-align: center;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
  }
  header, main, footer {
    display: none !important;
  }
} */

header img {
  width: 100vw;
}
header #options {
  width: 100%;
  height: 5vh;
  justify-content: space-between;
  padding: 0 2%;
  display: flex;
  align-items: center;
  background-color: white;
  color: black;

}

header #options h1 {
  font-size: 1.5em;
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

main {
  padding: 15px; 
  display: flex;
  flex-direction: column;
     
}

#product-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40%;

  
}
#product-image img {
    width: 50%;
}

#price-and-stars {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;  
}
#price-and-stars #price {
  font-size: 1.5em;
  font-weight: bold;
}

#stars{
  display: flex;
  align-items: center;
}

#name {
  font-size: 1.2em;
  font-weight: bold;
}
#description {
  text-align: justify;
  margin-top: 10px;
  font-size: 0.8em;
}
#free-shipping {
  margin-top: 20px;
  display: flex;
  gap: 5px;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #33CE83;
}

#buy-now {
  border: none;
  width: 350px;
  height: 40px;
  background-color: #33CE84;
  border-radius: 20px;
  font-size: .9em;
  color: white;
  font-weight: bold;
}
#add-to-cart{
  border: none;
  width: 350px;
  height: 40px;
  background-color: #AD37C0;
  border-radius: 20px;
  font-size: .9em;
  color: white;
  font-weight: bold;  
}

#button-section {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-self: center;
  height: 100%;
  justify-content: end;
}




#stars{
  display: flex;
  
}




#menu{
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: grid;
  grid-template-columns: 2fr 1fr;
  font-size: 1.2em;
  display: none;
  


}

.menu-opened {
  animation: open-menu .2s ease;
  transform: translateX(0);
  display: grid !important;


  
}

.menu-closed {
  animation: close-menu .2s ease;
  transform: translateX(-100%);
  display: grid !important;

}

@keyframes open-menu {
  from {
      transform: translateX(-100%);
  }
  to {
      transform: translateX(0);
  }
}

@keyframes close-menu {
  from {
      transform: translateX(0);

  }
  to {
      transform: translateX(-100%);

  }
}
#menu-side {
  background-color: #ffffff;
  box-shadow: 0px 4px 28.1px -8px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#close-side{
  
}

.hidden {
  display: none !important; 
  
}



#menu #username {
  background-color: #7a2592;
  height: 8%;
  display: flex;
  gap: 10px;
  align-items: center;
  padding-left: 10%;    
  color: white;
  font-weight: bold;
  border-radius: 10px 10px 0 0;
}

#menu nav {
  margin-top: 15%;
  padding-left: 10%;
  text-decoration: none;
  display: flex;
  align-items: center;
  
}

#menu nav ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;

}

#menu nav ul li {
  display: flex;
  align-items: center;
  gap: 10px;
}

footer {
  display:flex;
  align-items: end;
  padding-bottom: 20px;
  justify-content: center;
  font-size: 10px !important;
}

.quantity{
  font-size: .8em;
}
.name-and-quantity{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
