*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px rgb(226, 226, 226) inset; /* Substitua 'white' pela cor desejada */
}
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px rgb(226, 226, 226) inset; /* Substitua 'white' pela cor desejada */
}

body{
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 1fr 1fr;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  overflow: hidden;
}

@media (min-width: 431px) {
  body {
    background-color: white;
  }
  
  body::before {
    content: "Infelizmente a versão para PC ainda não está disponível";
    font-size: 1.5em;
    text-align: center;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
  }
  header, main, footer {
    display: none !important;
  }
}

header {
  display: flex;
  align-items: end;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  animation: open-login .5s ease-out;


}
#terms {
  margin-top: 5%;
  display: flex;
  gap: 5px;
  align-items: end;
}

#terms p {
  font-size: .7em;
  font-weight: bold;
}
#terms p a {
  text-decoration: none;
  color: #bd59d6;;
}
#terms input {
  margin: 0;
  
}

.alert {
  border: 1px solid #ff2424 !important;
  animation: border-alert .5s  infinite;
}


main{
  display: flex;
  align-items: center;
  justify-content: center;
  animation: open-login .5s ease-out;
  height: 28vh;
}

@keyframes open-login {
  from {
      transform: translateX(50px);
      opacity: 0%;
  }
  to {
      opacity: 100%;
  }
}

.login-container{
  width: 300px;
  height: 200px;
  
  display: grid;
  align-items: center;
  justify-content: center;
  

}



.user-container {
  background-color: rgb(226, 226, 226);
  width: 250px;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0px 15px;
  gap: 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: border-color 0.4s
}

.user-container-selected {
  border: 1px solid #bd59d6;
}


.user-container input {
  background-color: rgb(226, 226, 226);
  border: none;
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 15px;
  
  
}


.user-password {
  background-color: rgb(226, 226, 226);
  width: 250px;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0px 15px;
  gap: 10px;
  margin-top: 15px;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: border-color 0.4s


}

.user-password-selected {
  border: 1px solid #bd59d6;
}

.user-password input {
  background-color: rgb(226, 226, 226);
  border: none;
  width: 100%;
  height: 100%;
  outline: none;
  
  font-size: 15px;
  

}

input::placeholder {
  opacity: .5;
}

.login-button button {
  border: none;
  width: 60%;
  height: 50px;
  border: none;
  background-color: #bd59d6;
  margin-top: 30px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  outline: none;
  cursor: pointer;
  transition: width 0.4s;

}

.login-button button:hover {
  width: 65%;
  
}

.login-button {
  display: flex;
  justify-content: center;
  
  
}




footer {
  display:flex;
  align-items: end;
  padding-bottom: 20px;
  justify-content: center;
  font-size: 10px;
}