
header #options {
  width: 100%;
  height: 5vh;
  justify-content: space-between;
  padding: 0 2%;
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
}
header #options h1 {
  font-size: 1.5em;
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
a{
  text-decoration: none;
  color: black;
}


#cart-count {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: blueviolet;
  border-radius: 20px;
  transform: translate(-45%, -30%);
  
  
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .6em;

}

