*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 15fr 1fr;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}
header img {
    width: 100vw;
}
header #options {
    width: 100%;
    height: 5vh;
    justify-content: space-between;
    padding: 0 2%;
    display: flex;
    align-items: center;
    background-color: white;
    color: black;

}

header #options h1 {
    font-size: 1.8em;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


main {
    display: flex;
    flex-direction: column;
    padding: 5%;
    width: 100vw;
}
main h2 {
    
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 1.2em;
    margin-bottom: 20px;
      
}

#products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;

}
#product {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    border: none;
    box-shadow: 0px 4px 28.1px -8px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    cursor: pointer;
}

#img-container {
    width: 100%;
    height: 60%;
    background-color: #EBEBEB;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

}
#img-container img{
    width: 50%;
}

#informations-container{
    width: 100%;
    height: 40%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px;
}

#informations-container p {
    font-size: .8em;
    
}
#stars {
    display: flex;
}
#stars-and-price {
    display: flex;
    justify-content: space-between;
    
}

p#price {
    color: #00C767;
    font-weight: bold;
}

#logout{
    width: 70px;
    height: 40px;
    margin-top: 10px;
    background-color: #bd59d6;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    transition: transform .5s ease;

}

#logout:hover {
    transform: translateY(-5px);
}


footer {
    display:flex;
    align-items: end;
    padding-bottom: 20px;
    justify-content: center;
    font-size: 10px !important;
}