*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 15fr 1fr;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}
header img {
    width: 100vw;
}
header #options {
    width: 100%;
    height: 5vh;
    justify-content: space-between;
    padding: 0 2%;
    display: flex;
    align-items: center;
    background-color: #bd59d6;
    color: white;

}

header #options h1 {
    font-size: 1.8em;
}


main {
    display: flex;
    flex-direction: column;
    padding: 5%;
    width: 100vw;
}

#products {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 6%;
    justify-content: center;
    align-items: center;
}

#product{
    width: 160px;
    height: 190px;
    background-color: #EEEEEE;
    border-radius: 10px;
    padding: 5%;
    justify-self: center;
    margin-top: 13%;
}

#product #img-and-title {
    display: flex;
    flex-direction: column;
    gap: 10%;
}

#product #img-and-title p{
    font-size: .8em
}

#product #img-and-title img {
    width: 70%;
    align-self: center;
}

#product #stars-and-price {
    display: flex;
    gap: 10%;
    margin-top: 10%;
}

#product #stars-and-price #stars p {
    font-size: .6em;
    margin-left: 4px;
}

#product #stars-and-price #price {
    font-size: 1em;
    color: #00C767;
    font-weight: 800;
    align-self: center;
}

#stars {
    display: flex;
    align-items: center;
}

#logout{
    width: 70px;
    height: 40px;
    margin-top: 10px;
    background-color: #bd59d6;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    transition: transform .5s ease;

}

#logout:hover {
    transform: translateY(-5px);
}


footer {
    display:flex;
    align-items: end;
    padding-bottom: 20px;
    justify-content: center;
    font-size: 10px !important;
}